.doctor-card-2 {
  
max-width: 460px;
  margin: 30px auto 0;
 background: #4267f87f;
  border-radius: 20px;
  border: 1px solid #000;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
   
}

/* Header */
.doctor-card-2 .card-header {
    margin: -1px; 
  height: 210px;
  background: linear-gradient(135deg, #198754, #20c997);
 border-radius: 20px 20px 40px 40px;
}

.doctor-card-2 .logo-circle{
   border: 1px solid #000;
  width: 120px;
  height: 120px;
  background: #ffffff;
  color: #0d6efd;
  border-radius: 50%;
  margin: auto;
  margin-top:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
  top: -15px;
 overflow: hidden; 
 
}

.doctor-card-2 .logo-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /*  Use contain for logo */
}

/* ================= SOCIAL ICONS ================= */

.doctor-social-icons{
  display:flex;
  justify-content:center;
  gap:12px;
}

.doctor-social-icons a{
  text-decoration:none;
}

/* icon container */

.icon{
  width:40px;
  height:40px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#fff;
  font-size:22px;
}

/* svg fix for html2canvas */

.icon svg{
  width:20px;
  height:20px;
}

/* colors */

.facebook{ background:#1877F2; }
.instagram{ background:#E1306C; }
.youtube{ background:#FF0000; }
.linkedin{ background:#0A66C2; }

/* ================= CONTACT ICON ================= */
/* Contact List */

.doctor-contact-list{
  display:flex;
  flex-direction:column;
  gap:12px;
}

/* Contact Item */

.doctor2-contact-item{
  display:flex;
  align-items:center;
  gap:12px;
  background:#f8f9fa;
  border-radius:50px;
  padding:10px 15px;
  font-size:14px;
}

/* icon container */

.doctor2-contact-icon{
  width:40px;
  height:40px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#fff;
  font-size:18px;
}

/* svg fix for html2canvas */

.doctor2-contact-icon svg{
  width:18px;
  height:18px;
}

/* colors */

.hospital{
  background:#0d6efd;
}

.phone{
  background:#198754;
}

.email{
  background:#ffc107;
  color:#000;
}

.location{
  background:#dc3545;
}

.clock{
  background:#212529;
}


.doctor-card-2 .doctor2-whatsapp-btn{
  background:#28a75fa0;
  width:90%;
  margin:15px auto;
  color:#0c0c0c;
  border:1px solid #0c0c0c;
  
  font-size:18px;
  padding:12px;
  border-radius:8px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  cursor:pointer;
}

.doctor-card-2 .disabled-btn{
  background:#bdbdbd;
  color:#555;
  cursor:not-allowed;
}
