.ba-card {
  width: 360px;              /* FIXED width */
  height: 650px;             /* FIXED height */
  margin-bottom: 20px;
  border-radius: 0px;
  background: #f4f7fb;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  border: 1px solid #0e0d0d;
  display: flex;
  flex-direction: column;    /* Important */
  justify-content: space-between;
}

/* Header */
.ba-header {
  background: linear-gradient(135deg, #0d6efd, #003c8f);
  color: #fff;
  padding: 15px 20px 1px;
  text-align: center;
}

/* Profile */
.ba-profile {
  text-align: center;
  margin-top: -40px;
}

.ba-profile-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;   /* Circle */
  object-fit: cover;
  border: 4px solid #fff;
}



/* Description */
.ba-desc {
  font-size: 14px;
  padding: 0 20px;
  text-align: center;
}

/* Contact Section */
.ba-contact div {
  padding: 6px 20px;
  font-size: 14px;
}

/* FIXED ICON SIZE */
.ba-contact svg,
.ba-social svg {
  width: 40px;     /* Smaller icons */
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  background: rgba(224, 244, 246, 0.94);
  border: 1px solid black;
  color: #0d6efd;
  stroke-width: 1.5;
  transition: all 0.25s ease;
}

.ba-contact svg {
  margin-right: 8px;
}

.ba-social {
  text-align: center;
  margin-top: auto;
  margin-bottom: 15px;
}

.ba-social{
 position: absolute;
  top: 10%;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 10;
}

.ba-social svg {
  margin: 0 6px;
  cursor: pointer;
}

.ba-actions button {
  font-size: 14px;
}
