
/* CARD */
.se-card {
  width: 100%;
  max-width: 450px;
  min-height: 820px;
  margin-left: auto;
  border-radius: 20px;
  overflow: hidden;
  background: #f5f5f5;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

/* HEADER */
.se-header {
  background: linear-gradient(135deg, #3ec6ff, red);
  text-align: center;
  padding: 30px 15px;
  color: white;
}

/* PROFILE */
.se-profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #d9f99d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  overflow: hidden;
  font-size: 30px;
}

.se-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BODY */
.se-body {
  padding: 25px;
  text-align: center;
}

.se-role {
  color: #666;
}

.se-desc {
  color: #888;
  margin: 10px 0;
}

/* INFO */
.se-info {
  margin-top: 15px;
  text-align: left;
}

.se-info-item {
  display: flex;
  gap: 10px;
  margin: 8px 0;
}

/* SOCIAL */
.se-social {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.se-btn {
  display: flex;
  gap: 10px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  color: white;
  cursor: pointer;
}

.se-btn.linkedin {
  background: linear-gradient(90deg, #00c6ff, pink);
}

.se-btn.github {
  background: linear-gradient(90deg, #00c6ff, pink);
}

/* QR */
.se-qr {
  margin-top: 15px;
  text-align: center;
}

/* FOOTER */
.se-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
  width: fit-content;        /* ✅ shrink to content */
  margin-left: 200px;         /* ✅ center block */
  margin-right: auto;        /* ✅ center block */

}

/* FOOTER BUTTON */
.se-footer-btn {
  padding: 10px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 60px;
}

/* COLORS */
.se-footer-btn.pdf {
  background: #0f172a;
  color: white;
}

.se-footer-btn.whatsapp,
.se-footer-btn.copy {
  background: #f1f5f9;
}

.se-footer-btn.buy {
  background: lightblue;
}