.software-card {
  margin-top: 0;
  max-width: 360px;
  border: 1px solid hsl(0, 4%, 5%); 
  margin-left: 100px;
  margin: auto 60;
  background: #ffffff;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}
.software-header {
  position: relative;
  background: linear-gradient(135deg, #56cef3, #56cef34b, #56cef3);
  padding: 5px 10px 75px;
  text-align: center;
  color: #070707;
}


.code-icon {
  font-size: 32px;
  font-family: monospace;
}

/* Profile */
.profile-section {
  margin-top: -65px;
  position: relative;
  z-index: 1;
}

.profile-img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 2px solid #0e0d0d;
  
  object-fit: cover;;      
  background: #ffffff;            
  padding: 2px;
}
.profile-name { 
  margin-bottom: 9px;
}

.designation {
  color: #6c757d;
  font-size: 14px;
}

/* Icons */
.icon-row {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}
.icon-circle {
  width: 52px;
  height: 52px;
  border-radius: 14px;                 
  background: rgba(224, 244, 246, 0.94);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(19, 18, 18, 0.94);
  color: #0d6efd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  transition: all 0.45s ease;
}

.icon-circle:hover {
  transform: translateY(-4px);
  background: #084298;
}

/* CTA */
.cta span {
  color: #0d6efd;
}

/* Footer */
.software-footer {
  background: #0f2027;
  color: #fff;
  padding: 12px;
  font-size: 20px;
}

.card-link {
  text-decoration: none;
  color: inherit;        
  display: block;
}

.card-link:hover {
  color: inherit;
}
