
.card-page {
  max-width: 360px;
  background: #1fc3c9 ;
  color:black;
  min-height: auto;
    margin-top: 0;
  border: 1px solid #0e0d0d; 
  margin: auto 0;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);

}

/* White oval card */
.business-card {
  background: #fff;
  width: 100%;
  max-width: 380px;;
   padding: 40px 0 60px;
  border-radius: 200px;
}

/* Logo circle */
.freelancer-profile-img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: -10px auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;
}

/* Contact */
.contact-info p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

/* Social icons */
.social-icons {
 
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 5px; 
  margin-top: 30px;
  position: relative;  
}


/* TARGET THE SVG DIRECTLY */
.social-icons svg {
  width: 35px;
  height: 35px;
  background: #c91fc676;
  color: #fff;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
}


/* Bottom bar */
.freelancer-bottom-bar button {
  font-size: 19px;
  background: #c91fc676;
  color: black;
}
