/* =========================
   MAIN CARD
========================= */

.sc-card{
   width: 460px;   /* FIX */
  max-width: none;
 
  margin:auto;
  background:#0d2b6b;
  border-radius:14px;
  overflow:hidden;
  color:#fff;
  font-family:'Segoe UI', Arial, sans-serif;
  box-shadow:0 10px 30px rgba(0,0,0,0.25);
}

/* =========================
   HEADER
========================= */

.sc-header{
  background:linear-gradient(135deg,#ff6a00 45%,#0d2b6b 45%);
  padding:35px 20px;
  text-align:center;
}

.sc-header h4{
  font-weight:600;
  margin-top:10px;
}

/* =========================
   LOGO
========================= */

.sc-logo-box{
  background:#ffc107;
  width:140px;
  height:140px;
  margin:auto;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  font-weight:bold;
}

.sc-logo-box img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* =========================
   TAGLINE
========================= */

.sc-tagline{
  font-weight:600;
  font-size:15px;
}

/* =========================
   DESCRIPTION
========================= */

.sc-card p{
  font-size:14px;
  color:#e4e4e4;
  line-height:1.5;
}

/* =========================
   CONTACT SECTION
========================= */

.sc-contact-section{
  margin-top:20px;
}

.sc-contact-item{
  display:flex;
  align-items:center;
  gap:15px;
  margin:12px 0;
  font-size:14px;
}

/* ICON */

.sc-icon-box{
  width:42px;
  height:42px;
  min-width:42px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  color:#fff;
}

.sc-icon-box svg{
  font-size:18px;
}

/* ICON COLORS */

.phone{ background:#0A66C2; }
.email{ background:#e74c3c; }
.location{ background:#27ae60; }
.website{ background:#3498db; }

/* =========================
   SOCIAL ICONS
========================= */

.sc-social-icons{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:10px;
  padding:5px;
}

/* Hexagon Shape */ 
.sc-social-icons a{ 
  clip-path:polygon( 25% 6%, 75% 6%, 100% 50%,
   75% 94%, 25% 94%, 0% 50% );
   }

.sc-social-icons a{
 
  width:45px;
  height:45px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#fff;
  font-size:23px;
  text-decoration:none;
  border-radius:10px;
  transition:0.3s;
}

.sc-social-icons a:hover{
  transform:translateY(-3px);
}

/* BRAND COLORS */

.facebook{ background:#1877F2; }
.instagram{ background:linear-gradient(45deg,#F58529,#DD2A7B,#8134AF); }
.youtube{ background:#FF0000; }
.linkedin{ background:#0A66C2; }
.whatsapp{ background:#25D366; }
.twitter{ background:#1DA1F2; }
.telegram{ background:#0088CC; }

/* =========================
   SECTION CARD
========================= */

.sc-section{
  //background:#000;
  margin-top:22px;
  padding:18px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
  color:#fff;
}

.sc-section h5{
  font-weight:600;
  margin-bottom:15px;
  color:#fff;
}

/* =========================
   GALLERY SECTION
========================= */

  .sc-gallery-slider {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;

}

/* Gallery Card Background */

.sc-gallery-card{
  background:#25D366;
  padding:10px;
  border-radius:10px;
  text-align:center;
  transition:0.3s;
}
.sc-gallery-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image */

.sc-gallery-img{
  width:100%;
  height:180px;
  object-fit:contain;
  border-radius:10px;
   //padding: 5px;
  transition:0.1s;
  
  
}

.sc-gallery-img:hover{
  transform:scale(1.03);
}

/* =========================
   SWIPER DOTS POSITION
========================= */

.swiper-pagination{
  position:relative !important;
  margin-top:12px;
}
/* Pagination Position */

.sc-gallery-slider .swiper-pagination{
  position:relative !important;
  margin-top:12px;
}

/* Default Dot */

.sc-gallery-slider .swiper-pagination-bullet{
  width:10px;
  height:10px;
  background:#ffffff !important;  /* white */
  opacity:1;
  margin:0 4px !important;
  border:1px solid #ddd;
}

/* Active Dot */

.sc-gallery-slider .swiper-pagination-bullet-active{
  background:#ffc107 !important; /* yellow */
  transform:scale(1.2);
}
/* =========================
   SERVICES
========================= */

.sc-service-card{
  background:#1DA1F2;
  padding:10px;
  border-radius:10px;
  text-align:center;
  transition:0.3s;
}

.sc-service-card:hover{
  transform:translateY(-4px);
  box-shadow:0 6px 12px rgba(0,0,0,0.1);
}

.sc-service-card img{
  width:100%;
  height:100px;
  object-fit:contain;
  border-radius:6px;
  margin-bottom:6px;
}
.sc-service-card h6,
.sc-service-card p{
  color:#000;
}
/* MAke Appointment*/
.react-datepicker-wrapper{
  width:80%;
}

.react-datepicker__input-container input{
  width:80%;
  padding:8px;
  border-radius:8px;
  border:1px solid #ddd;
}
.sc-appointment-btn{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:8px;
  font-weight:600;
}

.sc-appointment-btn svg{
  font-size:18px;
}

/* =========================
   PRODUCTS
========================= */

.sc-product-card{
  background:#e74c3c;
  padding:10px;
  border-radius:10px;
  text-align:center;
  transition:0.3s;
}

.sc-product-card:hover{
  transform:translateY(-4px);
  box-shadow:0 6px 12px rgba(0,0,0,0.1);
}

.sc-product-card img{
  width:100%;
  height:110px;
  object-fit:contain;
  border-radius:8px;
  margin-bottom:6px;
}

.sc-product-card span{
 
  font-weight:600;
}

/* =========================
   TESTIMONIAL
========================= */

.sc-testimonial{
  background:linear-gradient(45deg,#F58529,#DD2A7B,#8134AF);
  padding:12px;
  border-radius:8px;
  margin-bottom:10px;
  font-size:14px;
}

/* =========================
   BUSINESS HOURS
========================= */

.sc-hours{
  background:#fff;
  display:flex;
  justify-content:space-between;
  padding:15px;
  border-bottom:1px solid #eee;
  font-size:14px;
  color:#000;
  border-radius:8px;
}

/* =========================
   BLOG
========================= */

.sc-blog{
  background:#fff;
  margin-bottom:15px;
  border-radius:8px;
  color:#000;
}
.sc-blog p{
  color:#000;
  padding-bottom:5px;
}
/* .sc-blog img{
  width:100%;
  height:160px;
  object-fit:contain;
  background: #f1f1f1; 
  border-radius:8px;
  margin-bottom:8px;
}*/
.sc-blog-img-box {
  width: 100%;
  height: 160px;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  /*background: #f1f1f1;    fills empty space */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 8px;
}

.sc-blog-img-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.sc-blog h6{
  font-weight:600;
}

/* =========================
   PAYMENT SECTION
========================= */

.sc-payment-card{
  background:#f8f9fa;
  padding:12px;
  border-radius:10px;
  font-size:14px;
}

.sc-payment-row{
  display:flex;
  justify-content:space-between;
  margin-bottom:6px;
   color:#333;
}

.sc-payment-row strong{
  color:#333;
}

.sc-payment-note{
  margin-top:8px;
  font-size:13px;
  color:#333;
}

/* =========================
   FORM
========================= */

.sc-section input,
.sc-section textarea{
  border-radius:8px;
  font-size:14px;
}

.sc-section button{
  background:#ff6a00;
  border:none;
  border-radius:8px;
  font-weight:600;
}
/*INQUIRY*/
fieldset:disabled {
  cursor: not-allowed;
}

fieldset:disabled input,
fieldset:disabled textarea,
fieldset:disabled button {
  cursor: not-allowed;
}
/* =========================
   RESPONSIVE
========================= */

@media(max-width:480px){

  .sc-card{
    width:100%;
    border-radius:0;
  }

  .sc-header{
    padding:25px 15px;
  }

  .sc-logo-box{
    width:120px;
    height:120px;
  }

  .sc-gallery-img{
    height:110px;
  }

}