.realestate-card {
  max-width: 460px;
  margin: auto;
  //background: #fff;
  background: #e4272731;
  border:1px solid #000;
  //box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  color:black;
}

/* Banner */
.banner {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   object-position: center;  
  display: block;   
}

/* Dark overlay */
.banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
}

/* Logo box */
.logo-box {
  position: absolute;
  top: 40px;
  left: 20px;
  background: #444;
  padding: 12px;
  border-radius: 4px;
}

.logo-box img {
  width: 100px;
}
.profile-section {
   margin-top: 10px;
}
/* Business Info */
.business-info { 
  color:black;
}

.business-info h4 {
  font-weight: 700;
}

.highlight {
  font-weight: 600;
}

.desc {
  font-size: 14px;

}
.info-line {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  margin-bottom: 4px;
  text-decoration-line: underline;
  text-decoration-color: #f4b400; /* Gold shade */
  text-decoration-thickness: 3px;
}
/* ===== Specialization Premium Style ===== */

.jk-specialization-wrapper {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 14px;
}


.specialization-title {
  font-weight: 700;
  font-size: 18px;
  color: #222;
  position: relative;
}

.specialization-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #ffc107;
  display: block;
  margin: 8px auto 0;
  border-radius: 2px;
}

.specialization-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.specialization-box {
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.06);
  transition: 0.3s ease;
}

.specialization-box:hover {
  transform: translateY(-3px);
}

.spec-heading {
  font-size: 13px;
  color: #777;
  font-weight: 600;
  margin-bottom: 6px;
}

.spec-content {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.highlight-text {
  color: #ffc107;
  font-weight: 700;
}
/* Contact Items */
.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  margin-bottom: 10px;
  background: #f7f7f7;
  border-radius: 6px;
  font-size: 15px;

}

.contact-item svg {
  background: #333;
  color: #f39c12;
  padding: 4px;
  border-radius: 4px;
  font-size: 30px;
}
/*View more iamges button*/
.view-more-btn {
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 30px;
  color: #000;
}

.view-more-btn:hover {
  background-color: #e08e0b;
  color: #fff;
}


/* Social Icons */
.social-icons svg {
  background: #333;
  color: #f39c12;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size:38px;
}

/* Zigzag Bottom */
.zigzag {
  height: 20px;
  background: repeating-linear-gradient(
    -45deg,
    #f39c12,
    #f39c12 10px,
    transparent 10px,
    transparent 20px
  );
}